<section id="featured" class="bg">

            <!-- start slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Slider -->
                        <div id="main-slider" class="main-slider flexslider">
                            <ul class="slides">
                               
                                <li *ngFor="let project of projects">
                                    <img src="https://localhost:8443/imagep/{{project.id}}.jpg" alt="Foto del proyecto" />
                                    <div class="flex-caption">
                                        <h3>{{project.title}}</h3>
                                        <p>{{project.shortDescription}}</p>
                                        <a [routerLink]="['/project/1']" class="btn btn-theme">Leer más</a> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- end slider -->
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <h4>Sobre nuestra asociación</h4>
                                <p>
                                    Bienvenido a la página web donde podrás hacer tu aportación económica a proyectos médicos dirigidos a personas que padecen el Síndrome de Wolfram. Además, podrás hacer un seguimiento general de todos los proyectos y, por supuesto, de aquellos en los que has aportado. Regístrate de manera gratuíta para poder contribuir con la asociación. Para más información haz <a [routerLink]="['/about']" routerLinkActive="active">click aquí</a>.
                                </p>
                                <br/>

                                <h4>Colabora con nuestros proyectos</h4> <!--{{#percentages}}-->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100">
                                        {{title}}: {{percentage}}
                                    </div>
                                </div>
                                <!--{{/percentages}}-->
                                <div class="flex-caption">
                                    <a [routerLink]="['/projects']" class="btn btn-theme">¡Anímate y participa!</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="widget" style="margin-left: 120px;">
                                    <h4 class="widgetheading">Noticias de interés</h4>
                                    <ul class="recent">

                                        <li *ngFor="let blog of blogs">
                                            <a href="/singleNew/{{blog.id}}"> <img src="https://localhost:8443/image/little{{blog.id}}.jpg" class="pull-left" alt="Foto de la noticia" /></a>
                                            <h6><a href="/singleNew/{{blog.id}}">{{blog.title}}</a></h6>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>