		<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a [routerLink]="['/index']"><i class="fa fa-home"></i> Volver al
										Inicio</a><i class="icon-angle-right"></i></li>
								<li><a [routerLink]="['/blog']">Noticias</a></li>
								<li class="active">Noticia</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		<section id="content">
			<div class="container">
				<div class="row">
					<div  class="col-lg-8">
						<article id="sindromeWolfram">
							<div class="post-image">
								<div class="post-heading">
									<h3><a>{{nnew.title}}</a></h3>
								</div>
								<img src="https://localhost:8443/image/{{id}}.jpg" alt="Foto de la noticia"
									class="img-responsive" />
							</div>
							{{nnew.body}}
							<div class="bottom-article">

								<ul class="meta-post">
									<li><i class="fa fa-calendar"></i>{{nnew.date}}</li>
									<li><i class="fa fa-comments"></i>{{nnew.number_comments}}
										Comentarios</li>
								</ul>


<br> <br> 
								<div *ngFor="let comentarios of commentarioos" class="well">
									<p>{{comentarios}}</p>

								</div>
								<br> 




							</div>

						</article>
						<!--{{/new}}-->
						<div class="clear"></div>
						<div class="marginbot30"></div>
						<h4>Deja tu comentario</h4>
					<!--	{{#logeado}}-->
						<h5 *ngIf="Logeado" style="color: red">
							<strong> ¡Debes iniciar sesión para poder comentar! </strong>
						</h5>
						<br> <br> <a *ngIf="Logueado" [routerLink]= "['/login']">Inicia sesión</a>
					<!--	{{/logeado}} {{#logeado2}}-->
						<form *ngIf="noLogeado" role="form" action="/comment/upload/{{id}}" method="post">
							<div class="form-group">
								<textarea #comentarios class="form-control" rows="8"
									placeholder="Comenta aquí" name="comentarios"></textarea>
							</div>
							<button (click)="comentar(comentarios.value)" type="submit" class="btn btn-theme btn-md">Comentar</button>
							<input type="hidden" name="_csrf" value="{{token}}" />
						</form>
					<!--	{{/logeado2}}-->
					</div>
					<div class="col-lg-4">
						<aside class="right-sidebar">
							<div class="widget"></div>
							<div class="widget">
								<h3>Categorías</h3>
								<ul class="cat">
									<li><i class="fa fa-angle-right"></i>Enfermedad</li>
									<li><i class="fa fa-angle-right"></i>Asociación</li>
									<li><i class="fa fa-angle-right"></i>Nuevos
										descubrimientos</li>
									<li><i class="fa fa-angle-right"></i>Proyectos</li>
									<li><i class="fa fa-angle-right"></i>Próximos eventos</li>
								</ul>
							</div>
							<div class="widget"></div>
						</aside>
					</div>
				</div>
			</div>
		</section>
