  <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <nav class="navbar navbar-default" role="navigation" id="navBarModified">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                        <span class="sr-only">Desplegar navegación</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                               otro elemento que se pueda ocultar al minimizar la barra -->
                                <div class="collapse navbar-collapse navbar-ex1-collapse">

                                   <ul class="nav navbar-nav col-lg-10">
                                       <li  id="iteMyProyects"><a [routerLink]="['/userProjects']"  id="myProyects">Mis proyectos</a></li>
                                        <li id="iteMyMovements" ><a [routerLink]="['/userMovements']" id="myMovements">Mis movimientos</a></li>
                                        <li id="iteMyDatas" class="active"><a [routerLink]="['/userData']"  id="myDatas">Mis datos</a></li>
                                    </ul>
                                        <button  (onClick)="logOut()" type="button" class="btn btn-info col-lg-2" id="btn_sesion" >Cerrar sesión </button>
                                      
                                </div>
                            </nav>

                            <div class="inside">
                                <!--{{#matchpass}}-->
                                <h5 style="color: red" *ngIf=changes><strong> ¡Atención! Ningún cambio ha sido guardado porque ha ocurrido un error </strong></h5> 
                                <!--{{/matchpass}}-->
                                <h1>¡Bienvenid@ {{user.userName}}!</h1>
                               
                                <div class="row" id="dataPage">
                                    <!--{{#User}}-->
                                    <form role="form" class="register-form" action="/users/update/{{id}}" method="post" enctype="multipart/form-data">

                                        <div class="col-md-6">
                                            <div id="profilePhoto">

                                                <img src="/imagen/{{user.id}}.jpg" id="profileIcon" class="img-responsive" />
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Cambiar foto</label>
                                                    <input type="file" id="exampleInputFile" class="center-block" name="imagen">
                                                    <p class="help-block">Seleccionar nueva foto</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="data">
                                                <div>
                                                    <label for="exampleInputEmail1">Nombre</label>
                                                    <input #name readonly class="form-control" id="exampleInputEmail1" placeholder="{{user.name}}" name="name">

                                                </div>
                                                <div>
                                                    <label for="exampleInputEmail1">Apellidos</label>
                                                    <input #lastName readonly class="form-control" id="exampleInputEmail1" name="lastname" placeholder="{{user.lastname}}">

                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Dirección Email</label>
                                                    <input #email type="email" class="form-control" id="exampleInputEmail1" placeholder="{{user.email}}" name="email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Nombre Usuario</label>
                                                    <input #userName type="text" class="form-control" id="exampleInputEmail1" placeholder="{{user.userName}}" name="username">
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Contraseña Actual</label>
                                                    <input #pass1 type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="oldPassword" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Contraseña Nueva</label>
                                                    <input #pass2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña nueva" name="newPassword">
                                                </div>

                                                <button (click)="updateUser(name.value, lastName.value, userName.value,email.value, pass1.value, pass2.value)"type="submit" class="btn btn-primary btn-lg">Guardar Cambios</button>

                                            </div>
                                        </div>
                                      
                                    </form>
                                    <!--{{/User}}-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>