<html>
<head>
    <title>WADWolframAngular</title>
    <link type="stylesheet" href="app.component.css">
</head>
<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <nav>
                <div class="navbar navbar-default navbar-static-top" >
                    <div class="container" >
                        <div class="navbar-header">
                            <a name="sube"></a>
                        <!--  <button type="button" (click)="showDropdown('collapse')"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                            </button>-->
                            <a class="navbar-brand" [routerLink]="['/index']"><img src="../assets/img/logo.PNG" alt="Logotipo de la asociación" width="199" height="52" /></a>
                        </div>
                        <div class="navbar-collapse collapse" [ngbCollapse]="menuCollapse">
                            <ul class="nav navbar-nav">
                              
                                <li><a [routerLink]="['/index']" >Inicio</a></li>
                                 <li><a [routerLink]="['/projects']" routerLinkActive="active">Proyectos</a></li>
                                <li><a [routerLink]="['/blog']" routerLinkActive="active">Noticias</a></li>
                                <li><a [routerLink]="['/contact']" routerLinkActive="active">Contacto</a></li>
                                <li><a [routerLink]="['/about']" routerLinkActive="active">Sobre sus desarrolladores</a></li>
                                <li class="dropdown"  (click)="showDropdown('loginMenu')" >

                                    <a [routerLink]  data-close-others="false">Cuenta <i class="fa fa-angle-down"></i></a>
                                    <ul [ngbCollapse]="showMenu" class="dropdown-menu">
                                        <li><a [routerLink]="['/register']" routerLinkActive="active">Únete</a></li>
                                        <li><a *ngIf= "noLogeado" [routerLink]="['/login']" routerLinkActive="active">Inicia sesión</a></li>
                                       <li><a *ngIf="Logeado" [routerLink]="['/userProjects']" routerLinkActive="active">Mi Cuenta</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section id="content">
         <div class="container">
            <div class="row">
               <router-outlet></router-outlet>
          </div>
          </div>
       </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-lg-3">
                        <div class="widget">
                            <h4>Estamos en: </h4>
                            <address>
					<strong>Asociación Española para la Investigación y Ayuda al Síndrome de Wolfram</strong><br>
					 C/ Picadilly, nº 7, Almería, Andalucía</address>
                            <p>
                                <i class="icon-phone"></i>653 115 307
                                <br>
                                <i class="icon-envelope-alt"></i>ts.wolfram@gmail.com

                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="widget">
                            <h4>Información</h4>
                            <ul class="link-list">
                                <li><a href="#">Términos y condiciones</a></li>
                                <li><a href="#">Política de privacidad</a></li>
                                <li><a [routerLink]="['/contact']">Contáctanos</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="widget">
                            <h4>Páginas relacionadas</h4>
                            <ul class="link-list">
                                <li><a href="http://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=ES&Expert=3463.0" target="_blank">ORPHANET – Síndrome de Wolfram</a></li>
                                <li><a href="http://www.association-du-syndrome-de-wolfram.org/faire-un-don.html" target="_blank">Asociación Francesa del síndrome de Wolfram</a></li>
                                <li><a href="http://wolframsyndrome.dom.wustl.edu/" target="_blank">Universidad de Washington en St. Louis – Síndrome de Wolfram</a></li>
                                <li><a href="http://aswolfram.org/" target="_blank">Asociación Española para la Investigación y Ayuda al síndrome de Wolfram</a></li>
                                <li><a href="http://www.eurordis.org/es/content/un-nuevo-registro-para-las-diabetes-raras" target="_blank">EURORDIS – Un nuevo registro para las diabetes raras</a></li>
                                <li><a href="http://www.euro-wabb.org/es/" target="_blank">EURO-WABB</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="widget">
                            <h4>Idioma</h4>
                            <ul class="link-list">
                                <li><a href="#video" class="container.small">Español <img src="../assets/img/es.gif"/></a></li>
                                <li><a href="indexi.html" class="container.small">Inglés   <img src="../assets/img/en.gif"/></a></li>
                                <li><a href="indexa.html" class="container.small">Alemán <img src="../assets/img/dn.png"/></a></li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
            </div>

            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>&copy; Sailor Theme - All Right Reserved</p>
                                <div class="credits">

                                    <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
 <!--   <a href="#sube" class="scrollup"><i class="fa fa-angle-up active"></i></a>-->
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>


</body>
</html>