<div class="col-lg-8">
   <article *ngFor="let new of news">
      <header>{{new.category}}</header>
      <ul>
         <li>
            <div class="post-image">
               <div class="post-heading">
                  <h3><a [routerLink]="['/new', new.id]">{{new.title}}</a></h3>
               </div>
               <a [routerLink]="['/new', new.id]"><img src="/image/{{new.id}}.jpg" alt="Foto de la noticia" class="img-responsive" /></a>             
            </div>
            <div class="bottom-article">
               <ul class="meta-post">
                  <li><i class="fa fa-calendar"></i>{{new.date}}</li>
                  <li><i class="fa fa-comments"></i>{{new.number_comments}} Comentarios</li>
               </ul>
               <a [routerLink]="['/new', new.id]" class="readmore pull-right">Ir a la noticia <i class="fa fa-angle-right"></i></a>
            </div>
         </li>
      </ul>
   </article>
</div>
<div class="col-lg-4">
   <aside class="right-sidebar">
      <!-- <div class="widget"></div> -->
      <div class="widget">
         <h5 class="widgetheading">Categorías</h5>
         <ul class="cat">
por aquí:
            <li><i class="fa fa-angle-right"></i><a href=/mostrarPorCategoria?categoria=Enfermedad>Enfermedad</a></li>
            <li><i class="fa fa-angle-right"></i><a href=/mostrarPorCategoria?categoria=Asociación>Asociación</a></li>
            <li><i class="fa fa-angle-right"></i><a href=/mostrarPorCategoria?categoria=NuevosDescubrimientos>Nuevos descubrimientos</a></li>
            <li><i class="fa fa-angle-right"></i><a href=/mostrarPorCategoria?categoria=Proyectos>Proyectos</a></li>
            <li><i class="fa fa-angle-right"></i><a href=/mostrarPorCategoria?categoria=PróximosEventos>Próximos eventos</a></li>
         </ul>
      </div>
      <div class="widget"></div>
   </aside>
</div>
