<!--Page Content-->
				<div class="row ">
					<div class="col-md-12 ">
						<h1>Bienvenid@ <!--{{bienvenido}}--></h1>
					</div>
				</div>
				<div class="content-box-large ">
					<div class="panel-heading ">
						<div class="panel-title ">Donado por proyecto</div>
					</div>
					<div class="panel-body ">
						<div id="hero-area" style="height: 230px;"></div>
					</div>
				</div>
				<div class="row ">
					<div class="col-md-12 ">
						<div class="content-box-large">
							<div class="panel-heading">
								<div class="panel-title">Número de visitas a cada noticia</div>
							</div>
							<div class="panel-body">
								<div id="hero-bar" style="height: 230px;"></div>
							</div>
						</div>
					</div>
				</div>