	<div class="row">
					<div class="col-md-12">
						<div class="content-box-large">
							<div class="panel-heading">
								<div class="panel-title">
									<h2>Añadir Proyecto</h2>
								</div>

							</div>
							<div class="panel-body">
								<form class="form-horizontal" role="form" enctype="multipart/form-data">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">Nombre
											del proyecto</label>
										<div class="col-sm-10">
											<input #title type="text" class="form-control" id="inputEmail3"
												placeholder="Nombre" name="title">
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">Fecha
											de lanzamiento</label>
										<div class="col-sm-10">
											<input #releaseDate type="date" class="form-control" id="inputEmail3"
												placeholder="Fecha" name="releaseDate">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">Presupuesto
											total</label>
										<div class="col-sm-10">
											<input #totalBudget type="number" class="form-control" id="inputPassword3"
												placeholder="€" name="totalBudget">
										</div>
									</div>

									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">Presupuesto
											concedido</label>
										<div class="col-sm-10">
											<input #parcialBudget type="number" class="form-control" id="inputPassword3"
												placeholder="€" name="parcialBudget">
										</div>
									</div>

									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">Duracion
											del proyecto</label>
										<div class="col-sm-10">
											<input #time type="number" class="form-control" id="inputPassword3"
												placeholder="Duracion en meses" name="time">
										</div>
									</div>

									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">Año
											previsto de finalización</label>
										<div class="col-sm-10">
											<input #startYear type="number" class="form-control" id="inputPassword3"
												placeholder="Año" name="startYear">
										</div>
									</div>


									<div class="form-group">
										<label class="col-md-2 control-label">Imagen del
											proyecto</label>
										<div class="col-md-10">
											<input #imagen type="file" class="btn btn-default"
												id="exampleInputFile1" name="imagen">
											<p class="help-block"></p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Descripción
											breve</label>
										<div class="col-sm-10">
											<textarea #shortDescription class="form-control" placeholder="Descripción"
												rows="2" name="shortDescription"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Información
											completa</label>
										<div class="col-sm-10">
											<textarea #description class="form-control"
												placeholder="Descripción completa" rows="6"
												name="description"></textarea>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<div class="checkbox">
												<label> <input #opened type="checkbox" name="opened"
													required> Confirmar todos los cambios
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button (click)="newProject(title.value,releaseDate.value, totalBudget.value,
											 parcialBudget.value, time.value, startYear.value, imagen.value, sortDescription.value,
											  description.value, opened.value)" type="submit" class="btn btn-primary">Añadir
												proyecto</button>
										</div>
									</div>
									<input type="hidden" name="_csrf" value="{{token}}" />
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">


						<div data-brackets-id='179' class="content-box-large">
							<div data-brackets-id='180' class="panel-heading">
								<div data-brackets-id='181' class="panel-title">
									<h4>Todos los proyectos</h4>
								</div>

							</div>


							<div data-brackets-id='185' class="panel-body">

								<br>
								<table data-brackets-id='186' cellpadding="0" cellspacing="0"
									border="0" class="table table-striped table-bordered"
									id="example">
									<thead data-brackets-id='187'>
										<tr data-brackets-id='188'>
											<th data-brackets-id='189'>Nombre del proyecto</th>
											<th data-brackets-id='191'>Financiación concedido</th>
											<th data-brackets-id='191'>Financiación pendiente</th>
											<th data-brackets-id='191'>Duración</th>
											<th data-brackets-id='190'>Año de inicio</th>
											<th data-brackets-id='192'>Acción</th>
										</tr>
									</thead>
									<tbody data-brackets-id='193'>
										
										<tr data-brackets-id='194' class="odd gradeX" *ngFor= " let project of projects">
											<td data-brackets-id='195'>{{project.title}}</td>
											<td data-brackets-id='196'>{{project.parcialBudget}}</td>
											<td data-brackets-id='197'>{{project.restBudget}}</td>
											<td data-brackets-id='197'>{{project.time}}</td>
											<td data-brackets-id='197'>{{project.startYear}}</td>
											<td data-brackets-id='198'>
												<form>
													<button class="btn btn-danger" (click)= "borrarProyecto(project.id)">
														<i class="glyphicon glyphicon-remove"></i> Borrar
													</button>
													<input type="hidden" name="_csrf" value="{{token}}" />
												</form>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
