<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Admin WAD Wolfram - Inicio</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Bootstrap -->
<link href="../assets/Bootstrap-Admin-Theme/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- styles -->
<link href="../assets/Bootstrap-Admin-Theme/css/styles.css" rel="stylesheet">
<link href="../assets/Bootstrap-Admin-Theme/css/stats.css" rel="stylesheet">
<link href="../assets/css/admin.css" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<!-- Logo -->
					<div class="logo">
						<h1>
							<a [routerLink]="['/admin']">Admin WAD Wolfram</a>
						</h1>
					</div>
				</div>
			
				<div class="col-md-2 col-sm-2 col-xs-2" style="margin-left: 180px">
					<div class="navbar navbar-inverse " role="banner ">
						<ul class="nav navbar-nav ">
							<li class="dropdown"  (click)="showDropdown('latMenu')" >

                                    <a [routerLink] class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Mi cuenta <i class="fa fa-angle-down"></i></a>
                                    <ul [ngbCollapse]="showMenu2" class="dropdown-menu">
                                        <li><a [routerLink]="['/admin/profile']" routerLinkActive="active">Perfil</a></li>
                                        <li><a [routerLink]="['/index']" routerLinkActive="active">Cerrar sesión</a></li>
                                    </ul>
                                </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content ">
		<div class="row ">
			<div class="col-md-3 ">
				<div class="sidebar content-box " style="display: block;">
					<ul class="nav ">
						<!-- Main menu -->
						<li class="current"><a [routerLink]="['/admin']"><i
								class="glyphicon glyphicon-home "></i> Inicio</a></li>
						<li><a [routerLink]="['/admin/projects']"><i
								class="glyphicon glyphicon-pencil "></i> Añadir Proyecto</a></li>
						<li><a [routerLink]="['/admin/donations']"><i
								class="glyphicon glyphicon-euro"></i> Donaciones</a></li>
						<li><a [routerLink]="['/admin/blog']"><i
								class="glyphicon glyphicon-tasks "></i> Añadir Noticia</a></li>
						<li class="dropdown"  (click)="showDrop('loginMenu')" >

                                    <a [routerLink] class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Mi cuenta <i class="fa fa-angle-down"></i></a>
                                    <ul [ngbCollapse]="showMenu" class="dropdown-menu">
                                        <li><a [routerLink]="['/admin/profile']" routerLinkActive="active">Perfil</a></li>
                                        <li><a [routerLink]="['/index']" routerLinkActive="active">Cerrar sesión</a></li>
                                    </ul>
                                </li>
					</ul>
				</div>
			</div>

			<div class="col-md-9 ">
				<!--Page Content-->
			<router-outlet></router-outlet>
			</div>
		</div>
	</div>


	<footer>
		<div class="container ">

			<div class="copy text-center ">
				WAD Wolfram <a [routerLink]="['/index']">Cerrar sesión</a>
			</div>

		</div>
	</footer>


	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../assets/Bootstrap-Admin-Theme/bootstrap/js/bootstrap.min.js"></script>

	<link rel="stylesheet"
		href="../assets/Bootstrap-Admin-Theme/filtros/vendors/morris/morris.css">


	<script src="../assets/Bootstrap-Admin-Theme/filtros/vendors/jquery.knob.js"></script>
	<script src="../assets/Bootstrap-Admin-Theme/filtros/vendors/raphael-min.js"></script>
	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/morris/morris.min.js"></script>

	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/flot/jquery.flot.js"></script>
	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/flot/jquery.flot.categories.js"></script>
	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/flot/jquery.flot.pie.js"></script>
	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/flot/jquery.flot.time.js"></script>
	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/flot/jquery.flot.stack.js"></script>
	<script
		src="../assets/Bootstrap-Admin-Theme/filtros/vendors/flot/jquery.flot.resize.js"></script>
	<script src="../assets/Bootstrap-Admin-Theme/js/custom.js"></script>
	<script src="../assets/Bootstrap-Admin-Theme/js/stats.js"></script>
</body>

</html>